# IDEA
.idea/

### Gradle template
.gradle
/build/
/*/build/
/buildSrc/build/
/plugins/build/
!/*/src/*/build/

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

/prolog/src/main/resources/ProB_Signed/
/prolog/src/main/resources/runtimes.txt